/* https://colorhunt.co/palette/171717444444da0037ededed */

* {
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 3500px;
  margin: 10px 0px;
  background-color: #171717;
  padding: 12px 20px;
}

.navbar-logo,
.navbar-placeholder {
  width: 150px;
}
.navbar-logo-container {
  margin-right: auto;
}

.navbar-placeholder {
  margin-left: auto;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchbar-btn {
  background-color: #171717;
  border-color: #444444;
  color: #ededed;
}

.searchbar-btn:hover {
  background-color: #444444;
  border-color: #444444;
  color: #ededed;
}

.searchbar-btn:active,
.searchbar-btn:focus {
  background-color: #444444;
  border-color: #ededed;
  color: #ededed;
}

.container {
  background-color: #ededed;
  padding: 0;
  padding: 0;
}

.pokedex-logo {
  max-width: 400px;
}

.pokedex-header {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px;
}

.pokedex-body {
  display: inline-flex;
  flex-direction: row;
  margin: 20px 30px;
  align-items: center;
  text-align: center;
}

.pokemon-card {
  width: 310px;
  height: 480px;
  margin: 5px;
  padding: 25px 10px 5px 10px;
  border: 10px solid gold;
  border-radius: 20px;
  background-color: #b5c327;
  background-image: linear-gradient(315deg, #b5c327 0%, #ffc907 74%);
}

.pokemon-image-container {
  padding: 0px 10px;
  margin-left: 10px;
  border: 5px yellow outset;
  box-shadow: 3px 3px 10px #000;
  width: 250px;
  background-color: white;
}

.pokemon-image {
  width: 150px;
}

.pokemon-card-title {
  text-transform: capitalize;
}

.pokemon-card-title h3 {
  margin-bottom: 6px;
}

.pokemon-card-body {
  padding: 20px 10px 10px 2px;
}

.pokemon-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-type-text {
  text-align: center;
  margin-left: 15px;
  text-transform: capitalize;
}

.pokemon-aditional-info {
  font-size: 20px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  margin: auto 10px;
  cursor: pointer;
}

.pagination-btn:hover {
  color: #6e6e6e;
}

.red {
  color: #da0037;
}

.pokemon-type-text {
  border-radius: 4px;
}

/* Styles by type */

.background-water {
  background: linear-gradient(
    to bottom right,
    #d9e4ec,
    #adc1d1,
    #7d99af,
    #557792,
    #7d99af,
    #adc1d1
  );
}

.background-electric {
  background: linear-gradient(
    to bottom right,
    #ffffa4,
    #fff870,
    #fff200,
    #fff870,
    #ffffa4,
    #fff870
  );
}

.background-fire {
  background: linear-gradient(
    to bottom right,
    #ffbfba,
    #ff978f,
    #ff756b,
    #ff594c,
    #ff756b,
    #ff978f
  );
}

.background-grass {
  background: linear-gradient(
    to bottom right,
    #aae5b7,
    #78cf8b,
    #4fb665,
    #319d49,
    #4fb665,
    #78cf8b
  );
}

.background-poison {
  background: linear-gradient(to bottom right, #9933ff 0%, #660066 100%);
}

.background-bug {
  background: linear-gradient(to bottom right, #c6d16e 0%, #6d7815 100%);
}

.background-flying {
  background: linear-gradient(
    to bottom right,
    #c6b7f5 0%,
    #a890f0 50%,
    #6d5e9c 100%
  );
}

.background-normal {
  background: linear-gradient(
    to bottom right,
    #c6c6a7 0%,
    #a8a878 50%,
    #6d6d4e 100%
  );
}

.background-ground {
  background: linear-gradient(to bottom right, #ebd69d 0%, #927d44 100%);
}

.background-fairy {
  background: linear-gradient(to bottom, #f4bdc9 0%, #ee99ac 50%, #9b6470 100%);
}

.background-fighting {
  background: linear-gradient(to bottom, #d67873 0%, #c03028 50%, #7d1f1a 100%);
}

.background-ghost {
  background: linear-gradient(to bottom, #a27dfa 0%, #705898 50%, #493963 100%);
}

.background-ice {
  background: linear-gradient(to bottom, #bce6e6 0%, #98d8d8 50%, #638d8d 100%);
}

.background-rock {
  background: linear-gradient(to bottom, #d1c17d 0%, #b8a038 50%, #786824 100%);
}

.background-psychic {
  background: linear-gradient(to bottom, #fa92b2 0%, #f85888 50%, #a13959 100%);
}

.background-dragon {
  background: linear-gradient(to bottom, #a27dfa 0%, #7038f8 50%, #4924a1 100%);
}

.background-steel {
  background: linear-gradient(to bottom, #d1d1e0 0%, #b8b8d0 50%, #787887 100%);
}

/* Screen */
@media (max-width: 480px) {
  .searchbar-container {
    flex-direction: column;
  }
}

@media (max-width: 780px) {
  nav {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .navbar-logo-container {
    margin: 16px 0;
  }
}

@media (max-width: 1200px) {
  .navbar-placeholder {
    display: none;
  }
}
