* {
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 16px;
}

.navbar-logo, 
.navbar-placeholder {
  width: 150px;
}
.navbar-logo-container {
  margin-right: auto;
}

.navbar-placeholder {
  margin-left: auto;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pokedex-header {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px;
}

.pokedex-body {
  display: inline-flex;
  flex-direction: row;
  margin: 20px 30px;
  align-items: center;
  text-align: center;
}

.pokedex-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
  box-shadow: 4px (0, 0, 0, 0.25);
  border-radius: 3px;
  width: 400px;
}

.pokemon-image-container {
  padding: 0px 10px;
}

.pokemon-image {
  width: 150px;
}

.pokemon-card-title {
  text-transform: capitalize;
}

.pokemon-card-title h3 {
  margin-bottom: 6px;
}

.pokemon-card-body {
  padding: 20px 10px 10px 2px;
}

.pokemon-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-type-text {
  text-align: center;
  margin-left: 15px;
  text-transform: capitalize;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  margin: auto 10px;
  cursor: pointer;
}

.pagination-btn:hover {
  color: #6e6e6e;
}

@media (max-width: 480px) {
  .pokedex-grid { grid-template-columns: repeat(1, 1fr); }
}

@media (max-width: 780px) {
  nav { flex-direction: column; text-align: center; justify-content: center;}
  .navbar-logo-container { margin: 16px 0;}
  .navbar-placeholder { display: none;}
  .pokedex-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 1200px) {
  .pokedex-grid { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
  .pokedex-grid { grid-template-columns: repeat(4, 1fr); }
}